.cor-texto{
    color: #85190d;
}
.btn-cor{
    background-color: #85190d;
    color: #fff;
}

.btn-cor:hover{
    background-color: #57110a;
    color: #fff;
}

.page-link{
    color: #85190d;
}
.page-item.active .page-link{
    color: #fff;
    background-color: #85190d;
    border-color: #57110a;
}
.page-link:hover{
    background-color: #8b3329;
    color: #57110a;
}

.c-alert{
    background-color: #8b4139;
    color: #fff;
}

.nav-cor{
    background-color: #8b3329;

}

.img-tamanho{
    width: 30px;
}